<div class="seccion-contacto {{ seccion.estilo }}">
    <div class="row no-gutters">
        <div class="col-md-12">
            {% include 'secciones/titulo-seccion.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row no-gutters text-center">
                <div class="col-md-12">
                    <h1>{{ seccion.titulo_email }}</h1>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-12">
                    <form action="" method="post">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="frm_nombre">{{ seccion.nombre }}</label>
                                <input id="frm_nombre" class="form-control" type="text" name="contacto_nombre" value="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="frm_apellido">{{ seccion.apellido }}</label>
                                <input id="frm_apellido" class="form-control" type="text" name="contacto_apellido"
                                       value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="frm_email">{{ seccion.email }}</label>
                            <input id="frm_email" class="form-control" type="email" name="contacto_email" value="">
                        </div>
                        <div class="form-group">
                            <label for="frm_comentarios">{{ seccion.comentarios }}</label>
                            <textarea id="frm_comentarios" class="form-control" type="text" name="contacto_comentarios"
                                      value="" rows="5"></textarea>
                        </div>
                        <input type="submit" class="btn btn-primary" value="OK">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img class="d-block w-100" src="{{ MEDIA_URL }}{{ seccion.mapa }}" alt="{{ seccion.titulo }}"/>
        </div>
    </div>
</div>