<div class="seccion-foto {{ seccion.estilo }}">
    <div class="row no-gutters">
        <div class="col-md-12 text-center">
            {% include 'secciones/titulo-seccion.html' %}
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-md-10 offset-md-1">
            <div class="row">
                {% for fila in seccion.filas %}
                    {% for foto in fila.fotos %}
                        <div class="{% if fila.offset and forloop.counter0 == 0 %} {{ fila.offset }}{% endif %}
                                {% if foto.clase %}{{ foto.clase }} {% else %}{{ seccion.clase }}{% endif %}">
                            <div class="foto">
                                <img class="d-block w-100" src="{{ MEDIA_URL }}{{ foto.imagen }}"
                                     alt="{{ foto.texto }}"/>
                                <p>{{ foto.texto }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>