{% load my_markdown %}

<div class="seccion-texto-con-foto margenes-seccion" style="{{ seccion.estilo }}">
    <div class="row">
        {% if seccion.subtipo == 1 %}
            <div class="col-md-2 d-sm-none d-md-block">
                &nbsp;
            </div>
        {% else %}
            {% if seccion.posicion_foto == 1 %}
                <div class="col-md-1 d-sm-none d-md-block">
                    &nbsp;
                </div>
            {% endif %}
        {% endif %}
        <div class="{% if seccion.subtipo == 1 %}col-md-4{% else %}col-md-4{% endif %} col-sm-12 {% if seccion.posicion_foto == 1 %}order-md-1{% else %}order-md-12{% endif %}">
            <div class="texto">
                {% include 'titulo_seccion.html' %}
                {{ seccion.texto | my_markdown }}
            </div>
        </div>
        <div class="{% if seccion.subtipo == 1 %}col-md-4{% else %}col-md-7{% endif %} col-sm-12 {% if seccion.posicion_foto == 1 %}order-md-12{% else %}order-md-1{% endif %}">
            <div class="texto-con-foto">
                <img class="d-block w-100" src="{{ MEDIA_URL }}{{ seccion.imagen }}"/>
            </div>
        </div>
    </div>
</div>