{% load my_markdown %}

<div class="seccion-texto-con-foto {{ seccion.clase }}" style="{{ seccion.estilo }}">
    <div class="row no-gutters">
        {% comment %} columna de texto {% endcomment %}
        <div class="col-md-5 col-12 {% if seccion.posicion_foto == 1 %}order-md-1 {% else %}order-md-12{% endif %} ">
            <div class="row">
                <div class="col-12 col-md-9 offset-md-2">
                    <div class="texto">
                        {% include 'secciones/titulo-seccion.html' %}
                        {{ seccion.texto | my_markdown }}
                    </div>
                </div>
                {% if seccion.imagen_menor %}
                    <div class="col-12 text-center ">
                        <img class="w-50" src="{{ MEDIA_URL }}{{ seccion.imagen_menor }}"/>
                    </div>
                {% endif %}
            </div>
        </div>
        {% comment %} columna de foto {% endcomment %}
        <div class="col-12 col-md-7 {% if seccion.posicion_foto == 1 %}order-md-12 {% else %}order-md-1{% endif %}">
            <div class="texto-con-foto">
                <img class="d-block w-100" src="{{ MEDIA_URL }}{{ seccion.imagen }}"/>
            </div>
        </div>
    </div>
</div>
