bootstrap*
jquery*
popper*
*.jpg
*.png
*$py.class
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.map
*.mo
*.pot
*.py[cod]
*.sage.py
*.so
*.spec
.DS_Store
.Python
.cache
.coverage
.coverage.*
.dmypy.json
.eggs/
.env
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pytest_cache/
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.vscode/
.webassets-cache
/site
ENV/
MANIFEST
__pycache__/
build/
celerybeat-schedule
coverage.xml
db.sqlite3
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
exportdb
htmlcov/
instance/
ipython_config.py
lib/
lib64/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
profile_default/
sdist/
settings.py
target/
var/
venv.bak/
venv/
wheels/
