body {
    font-size: calc(12px + 0.5vw)
}

/*
h1 {
    color: #858377;
    line-height: 4rem;
}
*/

h2 {
    font-size: 200%;
    line-height: 6rem;
}

img, embed, object, video {
    height: auto;
    max-width: 100%;
}

.inicio .seccion-foto h2 {
    color: #858376;
}

.inicio .seccion-texto-con-foto .texto h1 {
    color: #DD862D;
    padding-bottom: 2rem;
}

.quienes-somos h1 {
    color: #E28526;
    margin-top: 0.5rem;
    text-align: center;
}

.quienes-somos .texto {
    margin: 1rem 0 0 1rem;
}

.altura-110 {
    line-height: 100%
}

.margen-vertical-3-6 {
    margin: 3% 0 6% 0;
}

.margen-vertical-3 {
    margin: 3% 0;
}

.margen-vertical-6 {
    margin: 6% 0;
}

.margen-20 .texto {
    margin: 20% 0 0 30%;
}

.texto-100 {
    font-size: 100%;
}

.texto-150 {
    font-size: 150%;
}

.texto-200 {
    font-size: 200%;
}

.texto-250 {
    font-size: 250%;
}

.servicios h1 {
    margin-left: 10%
}

#micarrusel-3 .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0088'%3e%3cpath d='M2.750l-1.51.52.52.5-2.52.51.51.54-4-4-4z'/%3e%3c/svg%3e");
}

#micarrusel-3 .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0088'%3e%3cpath d='M5.250l-44441.5-1.5-2.5-2.52.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-inicio {
    padding-left: 0;
    padding-right: 0;
}

.fondo-beige {
    background-color: #FAECDF;
}

.margenes-seccion {
    margin-top: 10px;
}

.ocultar {
    display: none;
}

.opciones {
    height: 70%;
}

.seccion-carrusel .texto-foto-1 {
    font-weight: 300;
}

.seccion-carrusel .texto-foto-2 {
    color: #999;
    line-height: 2rem;
    text-align: center;
}

.seccion-foto {
    background-color: #FAECDF;
}

.seccion-foto p {
    color: #999;
    text-align: center;
}

.web-header .idioma li {
    display: inline;
}

.web-header .idioma li:after {
    content: " / ";
}

.web-header .idioma li:last-child:after {
    content: "";
}

.web-header .idioma ul {
    text-align: right;
}

.web-pie {
    color: #fff;
    padding-top: 4rem;
}

.web-pie a:active {
    color: #ddd;
}

.web-pie a:hover {
    color: #ddd;
    text-decoration: underline;
}

.web-pie a:link {
    color: #fff;
}

.web-pie a:visited {
    color: #fff;
}

.web-pie .contacto, .web-pie .opciones  {
    font-size: 90%;
    line-height: 1.25rem;
    border-right: 1px solid white
}

.web-pie-fondo-gris {
    background-color: #999;
}
