.altura-110 {
    line-height: 100%;
}

.borde-derecho {
    border-right: 1px solid #FFF;
    height: 100%;
}

.borde-izquierdo {
    border-left: 1px solid #FFF;
    height: 100%;
}

.carousel-indicators {
    bottom: 50%;
    display: block;
    float: right;
    left: inherit;
    margin-right: 10px;
    right: 0% !important;
    text-align: right;
}

.carousel-indicators li {
    background-color: #222;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.carousel-indicators .active {
    background-color: #fff;
}

.carousel-inicio {
    padding-left: 0;
    padding-right: 0;
}

.color-gris {
    color: #999;
}

.detalle-retiro .seccion-texto h1, .retiro .seccion-texto h1 {
  font-weight: 700;
  font-size: 180%;
  line-height: 3rem;
  color: #000;
}

.detalle-retiro .seccion-texto h2, .retiro .seccion-texto h2 {
  font-weight: 700;
  font-size: 150%;
  line-height: 3rem;
  color: #000;
}

.detalle-retiro .seccion-texto h3, .retiro .seccion-texto h3 {
  font-weight: 700;
  font-size: 120%;
  color: #E28526;
}

.fondo-beige {
    background-color: #FAECDF;
}

.fondo-gris {
    background-color: #999;
}

.info-tecnica {
    font-size: 60%;
    xdisplay: none;
}

.logo {
    padding: 1%;
}

.margen-20 .texto {
    margin-top: 20%;
}

.margen-30 .texto {
    margin-top: 30%;
}

.margen-inferior-1 {
    margin-bottom: 1%;
}

.margen-superior-2 {
    margin-top: 2%;
}

.margen-superior-3 {
    margin-top: 2%;
}

.margen-vertical-2 {
    margin: 2% 0;
}

.margen-vertical-3 {
    margin: 3% 0;
}

.margen-vertical-3-6 {
    margin: 3% 0 6%;
}

.margen-vertical-6 {
    margin: 6% 0;
}

.margenes-seccion {
    margin-top: 10px;
}

.opciones {
    height: 70%;
}

.padding-lados-10 {
    padding: 0 10%;
}

.quienes-somos .texto {
    margin: 1rem 5% 0 1rem;
}

.quienes-somos h1 {
    margin-top: .5rem;
    text-align: center;
}

.retiro {
    padding: 4% 0;
}

.retiro h1 {
    line-height: 4rem;
}

.texto-gris, .titulo-gris h2, .enlace-gris a, .enlace-gris a:visited {
    color: #858376 !important;
}

.titulo-naranja h1, .titulo-naranja h2, .titulo-naranja h3 {
    color: #E28526;
}

.seccion-carrusel .texto-foto-1 {
    font-weight: 300;
}

.seccion-carrusel .texto-foto-2 {
    color: #999;
    line-height: 2rem;
    text-align: center;
}

.seccion-foto p {
    text-align: center;
}

.seccion-instalacion .texto {
    line-height: 1.15rem;
}

.seccion-texto-con-foto .margen-superior-5 h2 {
    color: #fff;
}

.servicios h1 {
    margin-left: 10%;
}

.texto-100 {
    font-size: 100%;
}

.texto-150 {
    font-size: 150%;
}

.texto-200 {
    font-size: 200%;
}

.texto-250 {
    font-size: 250%;
}

.tours .seccion-texto-con-foto .texto {
    padding-left: 3%;
}

.web-header .idioma li {
    display: inline;
    font-size: 90%;
}

.web-header .idioma li:after {
    content: " / ";
}

.web-header .idioma li:last-child:after {
    content: "";
}

.web-header .idioma ul {
    text-align: right;
}

.web-pie {
    color: #fff;
    padding: 4rem 0 1rem;
}

.web-pie .contacto, .web-pie .opciones, .web-pie .direccion, .web-pie .copyright {
    font-size: 90%;
    line-height: 1.25rem;
}

.web-pie .copyright {
    padding-right: 1%;
    text-align: right;
}

.web-pie a:active {
    color: #ddd;
}

.web-pie a:hover {
    color: #ddd;
    text-decoration: underline;
}

.web-pie a:link {
    color: #fff;
}

.web-pie a:visited {
    color: #fff;
}

.xseccion-foto {
    background-color: #FAECDF;
}

body {
    font-size: calc(12px + 0.5vw);
}

div.row.copyright {
    margin-top: 1rem;
}

div.servicios .texto h2 {
    color: #E28526;
}

h1 {
    color: #858377;
}

h2 {
    font-size: 200%;
    line-height: 6rem;
}

h3 {
    font-size: 190%;
}

img, embed, object, video {
    height: auto;
    max-width: 100%;
}

@media all and (max-device-width: 600px) {

    .web-pie {
        padding: 1rem 0;
    }

    .web-pie .contacto, .web-pie .direccion p, .web-pie .copyright {
        font-size: 100%;
    }

    .web-pie .contacto p, .web-pie .direccion p {
        margin-bottom: 0rem;
    }

    .web-pie .copyright {
        padding-right: 0%;
        text-align: center;
    }

    .m-margen-superior-5 {
        margin-top: 5%;
    }

    .texto-250 {
        font-size: 150%;
    }

    div.col-12.social, div.col-12.telefono, div.col-12.correo {
        margin-top: 1rem;
    }

    div.servicios .texto {
        margin: 5%;
        text-align: left;
    }

    h2 {
        line-height: 2.5rem;
    }

}

/*
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%00000' viewBox='0088'%3e%3cpath d='M2.750l-1.51.52.52.5-2.52.51.51.54-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%00000' viewBox='0088'%3e%3cpath d='M5.250l-44441.5-1.5-2.5-2.52.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}
*/
