{% load my_markdown %}

<div class="seccion-instalacion {{ seccion.clase }}">
    {% if seccion.titulo %}
        <div class="row no-gutters">
            <div class="col-md-12 text-center">
                {% include 'secciones/titulo-seccion.html' %}
            </div>
        </div>
    {% endif %}
    <div class="row no-gutters">
        <div class="col-12 col-md-6 offset-md-3 micarrusel">
            <div id="micarrusel-{{ seccion.posicion }}" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for fila in seccion.carrusel %}
                        <li data-target="#micarrusel-{{ seccion.posicion }}"
                            data-slide-to="{{ forloop.counter0 }}">
                        </li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for foto in seccion.fotos %}
                        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                            <div class="text-center texto-foto-instalacion">
                                <img class="d-block" src="{{ MEDIA_URL }}{{ foto.imagen }}" alt="{{ foto.titulo }}"/>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if seccion.texto %}
                    <div class="texto">
                        <p>
                            {{ seccion.texto  | my_markdown }}
                        </p>
                    </div>
                {% endif %}
            </div>
            <a class="carousel-control-prev" href="#micarrusel-{{ seccion.posicion }}" role="button"
               data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#micarrusel-{{ seccion.posicion }}" role="button"
               data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
</div>
