{% load static %}

<!DOCTYPE html>
<html lang="{{ cur_language }}">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
    </style>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/lunarumi.css" %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="{{ pagina.descripcion_pagina }}">
    <script type="text/javascript" src="{% static "js/jquery-3.4.1.min.js" %}"></script>
    <title>{{ pagina.titulo_pagina }}</title>
</head>
<body>
<div class="container-fluid">
    <div class="web-header margenes-seccion">
        {% block header %}{% include "app/header.html" %}{% endblock %}
    </div>
    <div class="web-content">
        {% block content %}{% endblock %}
    </div>
    <div class="web-pie pie-fondo-gris">
        {% block pie %}{% include "app/pie.html" %}{% endblock %}
    </div>
</div>
<script type="text/javascript" src="{% static "js/popper.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/ga.min.js" %}"></script>
<div>
    <div class="d-none d-xl-block" style="background: #007bff; color: #fff; padding: 5px; text-align: center;">XL</div>
    <div class="d-none d-lg-block d-xl-none"
         style="background: #27a745; color: #fff; padding: 5px; text-align: center;">LG
    </div>
    <div class="d-none d-md-block d-lg-none"
         style="background: #ffc108; color: #fff; padding: 5px; text-align: center;">MD
    </div>
    <div class="d-none d-sm-block d-md-none"
         style="background: #18a2b8; color: #fff; padding: 5px; text-align: center;">SM
    </div>
    <div class="d-block d-sm-none" style="background: #dc3545; color: #fff; padding: 5px; text-align: center;">XS</div>
</div>
<div><p>[tiempo]</p></div>
</body>
</html>

