<div class="seccion-carrusel margenes-seccion">
    <div class="row">
        <div class="col-md-12">
            {% if seccion.tipo == 2 %}
                <div class="text-center">
                    {% include 'app/titulo_seccion.html' %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 micarrusel">
            <div id="micarrusel-{{ seccion.posicion }}" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for fila in seccion.carrusel %}
                        <li data-target="#micarrusel-{{ seccion.posicion }}" data-slide-to="{{ forloop.counter0 }}"
                            class="{{ imagen.clase }}">
                        </li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for fila in seccion.carrusel %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <div class="row d-flex align-items-end">
                                {% for imagen in fila %}
                                    <div class="{{ seccion.clase }}">
                                        {% if seccion.tipo == 2 %}
                                            <div class="">
                                        {% endif %}
                                        <img class="d-block w-100" src="{{ MEDIA_URL }}{{ imagen.imagen }}"
                                             alt="{{ imagen.texto }}"/>
                                        {% if seccion.tipo == 2 %}
                                            </div>
                                        {% endif %}
                                        <p class="texto-foto-{{ seccion.tipo }} {{ imagen.clase }}"
                                           style="{{ imagen.estilo }}">
                                            {{ imagen.texto }}
                                        </p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#micarrusel-{{ seccion.posicion }}" role="button"
                   data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#micarrusel-{{ seccion.posicion }}" role="button"
                   data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>
        </div>
    </div>
</div>