{% load my_markdown %}

{% block carrusel-detalle %}
    {% for foto in imagen.hijo.fotos %}
        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
            <img class="d-block" src="{{ MEDIA_URL }}{{ foto.imagen }}"
                 alt="{{ imagen.texto }}"/>
            <div class="text-center">
                <p class="texto-foto-instalacion">
                    {{ imagen.hijo.texto | my_markdown }}
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}