{% load my_markdown %}
{% load static %}

<footer>
    <div class="row no-gutters">
        <div class="col-3 d-none d-md-block">
            <div class="borde-derecho">
                <ul class="nav flex-column">
                    {% for o in opciones %}
                        <li class="nav-item">
                            <a class="nav-link" href="/{{ o.handle }}">{{ o.titulo }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="row no-gutters">
                <div class="offset-1 col-11">
                    <h3>{{ contacto.titulo }}</h3>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-6 col-12">
                    <div class="row no-gutters align-items-baseline correo">
                        <div class="offset-1 col-2">
                            <img class="img-fluid" src="{{ MEDIA_URL }}icono-mail.jpg">
                        </div>
                        <div class="col-9">
                            <a href="mailto:{{ contacto.mail }}">
                                {{ contacto.mail }}
                            </a>
                        </div>
                    </div>
                    <div class="row no-gutters align-items-baseline">
                        <div class="offset-1 col-2">
                            <img class="img-fluid" src="{{ MEDIA_URL }}icono-mapa.jpg">
                        </div>
                        <div class="col-9">
                            {{ contacto.direccion | my_markdown }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 telefono">
                    <div class="row d-flex align-items-md-baseline">
                        <div class="col-md-2 offset-1 col-2">
                            <img class="img-fluid" src="{{ MEDIA_URL }}icono-telefono.jpg">
                        </div>
                        <div class="col-md-9 col-9 telefono">
                            {{ contacto.telefonos | my_markdown }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-12 social">
            <div class="borde-izquierdo">
                <div class="row no-gutters">
                    <div class="offset-1 col-11">
                        <h3>{{ params.titulosocial }}</h3>
                    </div>
                </div>
                <div class="row align-items-md-baseline">
                    {% for social in contacto.social %}
                        <div class="col-md-3 col-3 {% if forloop.counter0 == 0 %}offset-1{% endif %}">
                            <a class="nav-link" href="{{ social.direccion }}" target="_blank">
                                <img class="img-fluid" src="{{ MEDIA_URL }}{{ social.imagen }}"
                                     alt="{{ social.nombre }}"/>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters align-items-center copyright">
        <div class="col-md-2 offset-md-1 col-4">
            <img class="img-fluid" src="{{ MEDIA_URL }}{{ params.logo_inferior }}"/>
        </div>
        <div class="col-md-8 offset-1 col-7 copyright">
            <p>{{ params.copyright }}</p>
        </div>
    </div>
</footer>