<div class="seccion-instalacion">
    <div class=" fondo-beige">
        <div class="row">
            <div class="col-md-12 text-center">
                {% include 'titulo_seccion.html' %}
            </div>
            <div class="row">
                <div class="col-md-12 micarrusel">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <div id="micarrusel-{{ seccion.posicion }}" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    {% for fila in seccion.carrusel %}
                                        <li data-target="#micarrusel-{{ seccion.posicion }}"
                                            data-slide-to="{{ forloop.counter0 }}">
                                        </li>
                                    {% endfor %}
                                </ol>
                                <div class="carousel-inner">
                                    {% for fila in seccion.filas %}
                                        <div class="carousel-item {% if fila.active %}active{% endif %}">
                                            <div class="row justify-content-center text-align:center">
                                                {% for imagen in fila.fotos %}
                                                    <div class="col">
                                                        <a onclick="javascript:cargarSubCarrusel({{ imagen.id }}); return false;">
                                                            <img class="d-block"
                                                                 src="{{ MEDIA_URL }}{{ imagen.imagen }}"
                                                                 alt="{{ imagen.texto }}"/>
                                                            <div>
                                                                <p class="text-center texto-foto-instalacion">
                                                                    {{ imagen.texto }}
                                                                </p>
                                                            </div>
                                                    </div></a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#micarrusel-{{ seccion.posicion }}" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" href="#micarrusel-{{ seccion.posicion }}" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carrusel-detalle-{{ seccion.posicion }} margenes-seccion">
            {% for fila in seccion.filas %}
                {% if fila.active %}
                    {% for imagen in fila.fotos %}
                        {% if imagen.active %}
                            <div class="row">
                                <div class="col-md-6 offset-md-3">
                                    <div id="mi-carrusel-hijo-{{ seccion.posicion }}" class="carousel slide"
                                         data-ride="carousel">
                                        <div id="detalle-instalacion" class="carousel-inner">
                                            {% block carrusel-detalle %}
                                                {% include "seccion_instalacion_detalle.html" %}
                                            {% endblock %}
                                        </div>
                                        <a class="carousel-control-prev" href="#mi-carrusel-hijo-{{ seccion.posicion }}"
                                           role="button"
                                           data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Anterior</span>
                                        </a>
                                        <a class="carousel-control-next" href="#mi-carrusel-hijo-{{ seccion.posicion }}"
                                           role="button"
                                           data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Siguiente</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        <div style="display:none;">
            <script>
                console.log("loading");
                cargarSubCarrusel = function (id) {
                    console.log("cargar subcarrusel de foto " + id);
                    $.ajax({
                        data: {'id': id},
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(textStatus + ' ' + errorThrown);
                        },
                        success: function (data) {
                            $("#detalle-instalacion").html(data);
                        },
                        type: 'get',
                        url: '/ajax/detalle_foto/'
                    });
                    return false;
                }
            </script>
        </div>
    </div>