{% load my_markdown %}

<div class="seccion-texto-con-foto margenes-seccion" style="{{ seccion.estilo }}">
    {% if seccion.tipo == 1 %}
        <div class="row">
            {% if seccion.subtipo == 1 %}
                <div class="col-md-2 d-sm-none d-md-block">
                    &nbsp;
                </div>
            {% else %}
                {% if seccion.posicion_foto == 1 %}
                    <div class="col-md-1 d-sm-none d-md-block">
                        &nbsp;
                    </div>
                {% endif %}
            {% endif %}
            <div class="{% if seccion.subtipo == 1 %}col-md-4{% else %}col-md-5{% endif %} col-sm-12 {% if seccion.posicion_foto == 1 %}order-md-1{% else %}order-md-12{% endif %}">
                <div class="texto">
                    {% include 'titulo_seccion.html' %}
                    {{ seccion.texto | my_markdown }}
                </div>
            </div>
            <div class="{% if seccion.subtipo == 1 %}col-md-4{% else %}col-md-6{% endif %} col-sm-12 {% if seccion.posicion_foto == 1 %}order-md-12{% else %}order-md-1{% endif %}">
                <div class="texto-con-foto">
                    <img class="d-block w-100" src="{{ MEDIA_URL }}{{ seccion.imagen }}"/>
                </div>
            </div>
        </div>
    {% endif %}
    {% if seccion.tipo == 2 %}
        <div class="row">
            <div class="col-md-10 offset-md-1">
                {% include 'titulo_seccion.html' %}
            </div>
            <div class="row">
                <div class="col-md-2 offset-md-1">
                    {% if seccion.imagen %}
                        <img class="d-block w-100" src="{{ MEDIA_URL }}{{ seccion.imagen }}"/>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
                <div class="col-md-8">
                    {{ seccion.texto | my_markdown }}
                </div>
            </div>
        </div>
    {% endif %}
</div>